<?xml version="1.0" encoding="utf-8"?>
<!--package="texttokkt.huawei" package="com.RD_AAOW.TextToKKT"-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.RD_AAOW.TextToKKT"
	android:installLocation="internalOnly" android:versionCode="600512" android:versionName="5.4.6">

	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application android:label="Text to KKT" android:icon="@mipmap/icon">

		<receiver android:name="com.RD_AAOW.TextToKKTBoot" android:label="TextToKKTBoot">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.QUICKBOOT_POWERON" />
			</intent-filter>
		</receiver>

	</application>
</manifest>
